/* AMARELO PADRÃO LOJA */

.color-yellow {
    color:#febe00;
}

.product-image {
    height: auto;
    max-width: 300px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    padding-top: 60px;
    background: #febe00;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul .menu-titulo {
    color: #000;
    margin-top: 54px;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

