.list-group-item.active {
    color: #1b1b1b;
    font-weight: bold;
    background-color: #febe00;
    border-color: #febe00;
}

.btn-primary {
    color:#1e1e1e;
    background-color: #febe00;
    border: 1px solid #000;
}

.btn-primary:hover {
    color:#febe00;
    background-color: #1e1e1e;
    border: 1px solid #febe00;
}